@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* NAVBAR STYLING */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}

.navbar .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  color: black;
  font-size: 30px;
  font-weight: 600;
  background: crimson;
  border-radius: 10px;
  padding: 5px;
}

.navbar .logo a span {
  color: white;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: black;
  font-size: 22px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
  background-color: crimson;
  border-radius: 10px;
  padding: 5px;
}

.navbar .menu li a:hover {
  color: white;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* MENU BUTTON STYLING */
.menu-btn i {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/* HOME SECTION STYLING */
.home {
  display: flex;
  background: url("img/CWcollage.jpg") no-repeat center;
  background-color: white;
  height: 100vh;
  color: black;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  color: crimson
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}

/* SIMILAR STYLING FOR ALL SECTIONS */
section {
  padding: 100px 0;
}

.about, .collections, .contact, footer {
  font-family: 'Poppins', sans-serif;
}

.about .about-content,
.collections .collections-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* ABOUT SECTION STYLING */
.about .title::after {
  content: "who i am";
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 80%;
  width: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right span {
  color: crimson;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right li {
  margin-left: 20px;
}

.about .about-content .right a {
  color: crimson;
}

.about .about-content .non-profits {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.about .about-content .senate-race {
  margin-top: 10px;
}

/* COLLECTIONS SECTION STYLING */
.collections .title::after {
  content: "see my work";
}

/* .collections .collections-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.collections-item {
  background: white;
  overflow: hidden;
}

.collections-img {
  object-fit: cover;
  transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;   
}

.collections-img:hover {
  transform: scale(1.2);
  opacity: .75;
} */

.swiper {
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* CONTACT SECTION STYLING */
.contact .title::after {
  content: "let's collaborate";
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: crimson;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #333;
}

.contact .right form .fields {
  display: flex;
  flex-direction: column;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 20px;
}

.contact .right form .textarea {
  height: 150px;
  width: 100%;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button {
  height: 47px;
  width: 170px;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover {
  background: none;
  color: crimson;
}

/* FOOTER STYLING */
footer {
  background: #111;
  padding: 10px 0;
  color: #fff;
  font-size: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content .text i {
  color: crimson;
}

.footer-content .social i {
  color: crimson;
  font-size: 25px;
}

/* RESPONSIVE MEDIA QUERY */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 80%;
    width: 80%;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn i {
    display: block;
    z-index: 999;
    color: black;
    background: crimson;
    border-radius: 10px;
    padding: 5px;
  }
  .menu-btn i.active:before {
    content: '\f00d';
    color: black;
    background: crimson;
    border-radius: 10px;
    padding: 5px;
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 50%;
    left: -50%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
    border-bottom: 1px solid crimson;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
    color: white;
    background: none;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .swiper {
    width: 75%;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .navbar .logo a {
    font-size: 25px;
  }
  .home .home-content .text-1 {
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 30px;
  }
  .footer-content {
    font-size: 12px;
  }
  .swiper {
    width: 75%;
  }
}
